body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tile {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 80px;
  height: 80px;
  transition: 0.2s;
}

.tile:hover {
  transform: scale(1.15);
  transition: 0.2s;
  box-shadow: 0px 0px 10px white;
}

.tile > img {
  height: 100%;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#body_container.fadeOut {
  animation: fadeOut 1s forwards; /* Adjust time as needed */
}
